@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090D16;
  color: #F8FAFC;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Cyan Glow utility */
.glow-cyan {
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.35);
}

.glow-purple {
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.35);
}